
.root{
	
	-fx-background-color: #ADD8E6;
	-fx-font-family: "Times New Roman";
	-fx-font-size : 13px;
	
}

.label{
	
	-fx-font-size: 18px;
	
}

.label-tips{
	
	-fx-font-size: 14px;
	
}

.button{
  
  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
  
}

.check-box .box {

	-fx-background-color: #D3D3D3;
	-fx-border-color:grey;
	-fx-border-radius:3px; 

}