
.root {
	
	-fx-background-color: #ADD8E6;
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
	
}

.label-info{
	
	-fx-font-size: 20px;
	
}

.button{
  
  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
  
}